<div class="imageSliderContainer">
    <div id="schoolwearHomeComponent" class="carousel slide" data-bs-ride="carousel">
        <div class="headlineContainer">
            <h2 class="headlineDefault">Unsere Schulkleidung</h2>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="3000" *ngFor="let image of sliderImages; let isFirst = first"
                [class.active]="isFirst">
                <div class="imageContainer">
                    <a href="#">
                        <img [src]="image.src" class="">
                    </a>
                </div>
                <div class="imageInfo">
                    <span>{{ image.text }}</span>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#schoolwearHomeComponent"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#schoolwearHomeComponent"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="imageSliderBottomContent">
        <p>
            Schaut euch unseren gesamten Katalog an. Hier ist für jeden was dabei.
        </p>
    </div>
</div>