<div class="imageSliderContainer">
    <div id="schoolwearHomeComponent" class="carousel slide" data-bs-ride="">
        <div class="headlineContainer">
            <h2>Unsere Schulkleidung</h2>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of sliderImages; let isFirst = first" [class.active]="isFirst">
                <a href="#">
                    <img [src]="image.src" class="">
                </a>
                <div class="imageInfo">
                    <span>{{ image.text }}</span>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#schoolwearHomeComponent"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#schoolwearHomeComponent"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>