<div class="homeMainContainer">
    <!-- <div class="swagBg"></div> -->
    <div class="topSectionContainer">
        <div class="topSectionContent">
            <h1>SWAG, die Schülergenossenschaft</h1>
            <div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quae illum veniam in ex, quaerat
                    adipisci placeat ipsa. Eos eveniet minima repudiandae distinctio vel animi earum qui obcaecati
                    perspiciatis reiciendis!</span>
            </div>
            <div class="contactContainer">
                <span>
                    Otto-Hahn-Str. 7 | 77933 Lahr/Schwarzwald | 07821 - 123456 | info@deine-email.de
                </span>
            </div>
        </div>
    </div>
    <app-schoolwear-home></app-schoolwear-home>
    <app-courses-home></app-courses-home>
    <img src="assets/img/arrow_up.png" class="scrollUp" (click)="scrollToTop($event)">
</div>