<div class="homeMainContainer">
    <!-- <div class="swagBg"></div> -->
    <div class="topSectionContainer">
        <div class="topSectionContent">
            <h1>SWAG, die Schülergenossenschaft</h1>
            <div>
                <p>Seit dem 01. Juni 2022 besteht die Wirtschafts-AG am Scheffel-Gymnasium, die sich seit dem 16. Mai
                    2023 als offiziell anerkannte Schülergenossenschaft präsentiert. Mittlerweile zählt unsere
                    Genossenschaft bereits über 60 Mitglieder.
                </p>

                <p>
                    Im letzten Schuljahr ist auch unser Mitarbeiterstamm gewachsen und besteht nun aus 14 Schülerinnen
                    und Schülern, inklusive eines Vorstands bestehend aus sechs Mitgliedern, die von Frau Pfeiffer und
                    Herrn Freykowski unterstützt werden. Die Genossenschaft setzt sich aus den folgenden Mitarbeitern
                    zusammen: Alisa Fehrenbacher, Kathrin Gorgis, Evelin Miller, Julian Marrek, Georgiy Pamaranov,
                    Jessica Peil, Yannick Plotz, Vincent Weber.
                </p>

                <p class="topSectionImages">
                    <img src="assets/img/smartphonekurs.jpg" alt="Smartphonekurs Image">
                    <br>
                    <em>Smartphonekurse für Technikanfänger:innen und Senior:innen</em>
                </p>

                <p>
                    Der Vorstand ist in verschiedene Abteilungen aufgeteilt, wodurch man strukturierter und effizienter
                    arbeiten kann und einen organisierten und klaren Überblick behält.
                </p>

                <p>
                    Anastasia Knaub kümmert sich in Zukunft um das Marketing und übernimmt außerdem den
                    Instagramaccount, den man unter dem Namen swag.lahr findet.
                </p>

                <p class="topSectionImages">
                    <img src="assets/img/swag_team.png" alt="Das SWAG Team">
                    <em>Unser SWAG Team</em>
                </p>

                <p>
                    Tijana Peric organisiert die Arbeit der Info-Tafel, die man in unserem Schulhaus findet und David
                    Schienle behält den Überblick bei der Schulkleidung. Sebastian Voinea plant zukünftig die
                    Smartphonekurse für Senioren am Scheffel-Gymnasium und um die Buchhaltung kümmern sich die
                    Vorstandsvorsitzenden Nura Bodri und Chiara Saban.
                </p>

                <p>
                    In den letzten Monaten hat sich die Schülergenossenschaft äußerst weiterentwickelt und dies ist erst
                    der Anfang. Es stehen einige Projekte bevor und derzeit nehmen die Schülerinnen und Schüler an einem
                    Design-Workshop teil, in dem sie lernen, wie sie zukünftige Ziele erreichen können und alles
                    Wissenswerte rund um Design und Werbung erfahren. Hierzu zählt beispielsweise die Gestaltung eines
                    eigenen Logos, sowie Verbesserungen der aktuellen Schulkleidung.
                </p>

            </div>
            <div class="contactContainer">
                <span>
                    Otto-Hahn-Str. 7 | 77933 Lahr/Schwarzwald | 07821 - 123456 | info@deine-email.de
                </span>
            </div>
        </div>
    </div>
    <app-schoolwear-home></app-schoolwear-home>
    <app-courses-home></app-courses-home>
    <img src="assets/img/arrow_up.png" class="scrollUp" (click)="scrollToTop($event)">
</div>