@import "../../shared/variables.scss";

.homeMainContainer {
    @include d_flex_column;
}

.scrollUp {
    position: fixed;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
}

.topSectionContainer {
    @include d_flex;
    @include opacity;
    padding: 20px 50px;
    background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0.2));
    color: white;
    @include max_width_1200;
    border-radius: 10px;
    margin: 50px 0 50px 0;
}

.topSectionContent {
    @include d_flex_column;
    gap: 15px;

    h1 {
        margin: 0;
        color: #f0f0f0;
        text-shadow: 2px 2px 4px #000000; /* Schwarz für mehr Tiefe */
    }
}

.contactContainer {
    text-align: center;
}

.swagBg {
    @include width_height(100vww, 100vh);
    @include d_flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    font-size: 450px;

    background: url(../../../assets/img/swag_bg.webp) no-repeat center;
    background-size: cover;
    opacity: 0.5;
}

.topSectionImages {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }
}
