.homeMainContainer {
    display: flex;
    flex-direction: column;
}

// .bgImage {
//     background-attachment: fixed;
// }

.scrollUp {
    position: fixed;
    right: 15px;
    bottom: 90px;
    cursor: pointer;
}

.topSectionContainer {
    // padding: 25px 15%;
    // background: linear-gradient(to right, #2c2c2c, #444444);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0.5));
}


.topSectionContent {
    color: white;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    h1 {
        margin: 0;
        color: #f0f0f0; 
        text-shadow: 2px 2px 4px #000000; /* Schwarz für mehr Tiefe */
    }
}

.contactContainer {
    text-align: center;
}

.swagBg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    font-size: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../../../assets/img/swag_bg.webp) no-repeat center;
    background-size: cover;
    opacity: 0.5;
}
