// .main_bg {
//     background-image: url(../assets/img/swag_main_bg.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: -1;
// }

// app-header, router-outlet {
//     position: relative;
//     z-index: 1;
// }

.swagBg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    font-size: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: #FFDA6B;
    // color: #F9D71C;
    color: #ffee93;
    // color: white;

    // background: url(../assets/img/swag_bg.webp) no-repeat center;
    // background-repeat: no-repeat;
    // background-size: cover;
    opacity: 0.7;
}

.topSection {
    width: 100%;
    // opacity: 0.8;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}
