@import "../../shared/variables.scss";

main {
    @include d_flex_column($g: 50px);
}

.topSectionImage {
    @include width_height(100%, 600px);
    background: url(../../../assets/img/swag_team.png) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.address {
    @include d_flex_column;
    max-width: 1200px;
    width: 100%;
    color: white;
    font-weight: bold;
}

.mainContent {
    @include max_width_1200;
    @include opacity;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.headLineContainer {
    // text-align: center;
    color: black;

    h2 {
        padding-bottom: 10px;
    }
}

.schoolwearImageContainer {
    @include d_flex($g: 50px);
    flex-wrap: wrap;
    padding: 20px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #f7941e;

            span {
                color: #f7941e;
            }
        }
    }

    img {
        @include width_height(400px, 400px);
        object-fit: cover;
        border-radius: 10px;
    }
}

.schoolwearBlock {
    @include d_flex_column;
    @include opacity;
    color: #f1592a;
    padding: 20px;
}
