<div class="mainContainer">
    <div class="headLineContainer">
        <h1>Schulkleidung</h1>
    </div>

    <div class="schoolwearImageContainer">

        <div>
            <img src="assets/img/slider_img1.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/slider_img2.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/slider_img3.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/slider_img4.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/phone_1.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/phone_2.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/phone_3.jpg" alt="Schulkleidung">
        </div>

        <div>
            <img src="assets/img/phone_4.jpg" alt="Schulkleidung">
        </div>

    </div>

</div>